@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="siteBanner">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators hideOnMobile">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active"
                 style="background: url(/img/film-slide1.jpg) no-repeat center center;">
            </div>
            <div class="carousel-item"
                 style="background: url(/img/film-stock1.jpg) no-repeat center center;">
            </div>
            <div class="carousel-item"
                 style="background: url(https://i.picsum.photos/id/876/1600/900.jpg?hmac=cuM1NNQdbB8pIjYOTBSS2zLnUZBZnhPrIEgmeU5XoHQ) no-repeat center center;">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<section class="container pt-5 pb-5" style="min-height: 300px; background-color: #fff">
    <div class="row">
        <div class="col text-center">
            <h2>Festival Hakkında</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-sm-12 p-5">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id velit dignissim, egestas massa quis, faucibus lacus. Aenean a commodo mi, eget condimentum turpis. Suspendisse semper dui id consequat aliquam. Donec at tellus vitae eros elementum rhoncus nec non mi. Vestibulum in felis tortor. Morbi at efficitur ex. Mauris vitae orci eu felis vestibulum tristique. Duis cursus porttitor massa elementum cursus. Curabitur nec pretium eros. Cras enim nisi, pellentesque facilisis blandit in, malesuada vitae nunc. Proin consequat rhoncus orci vitae aliquam. Ut condimentum, eros ut dapibus lobortis, odio libero sollicitudin nisi, eu pretium dolor diam et quam. Nulla in porttitor nulla. Fusce sit amet lorem ac augue accumsan convallis at non sem. Mauris sed varius dolor, et congue augue.
            </p>
            <p>
                Nullam quis augue sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis sagittis risus. Aliquam erat volutpat. Morbi cursus feugiat tortor ut vestibulum. Vestibulum tristique euismod nisi, vitae fermentum enim congue id. Sed diam diam, consequat porta est in, placerat pretium turpis. Etiam mollis mi vitae maximus vehicula. Nunc nec pretium nibh, non bibendum arcu.
            </p>
        </div>
        <div class="col-md-5 col-sm-12">
            <img class="img-fluid" src="~/img/film-stock1.png"/>
        </div>
    </div>
</section>