@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="siteBanner">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators hideOnMobile">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active"
                 style="background: url(https://picsum.photos/1000/400) no-repeat center center;">
            </div>
            <div class="carousel-item"
                 style="background: url(https://picsum.photos/1000/400) no-repeat center center;">
            </div>
            <div class="carousel-item"
                 style="background: url(https://picsum.photos/1000/400) no-repeat center center;">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>