
@{
    ViewData["Title"] = "Media";
}

<div class="pageTopSpace" style="background: url(https://i.picsum.photos/id/62/1600/900.jpg?hmac=iPYbfIsc9Ea4FRa_15hXe7ffw6RibzYEl3vZ4k1D_Vk) no-repeat center center;">
    <div class="container">
        <h1>Medya</h1>
    </div>
</div>